<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="reporte">
      <h2 data-cy="reporteDetailsHeading"><span jhiTranslate="sistemacineApp.reporte.detail.title">Reporte</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ reporte.id }}</span>
        </dd>
        <dt><span jhiTranslate="sistemacineApp.reporte.tipo">Tipo</span></dt>
        <dd>
          <span>{{ reporte.tipo }}</span>
        </dd>
        <dt><span jhiTranslate="sistemacineApp.reporte.fechaGeneracion">Fecha Generacion</span></dt>
        <dd>
          <span>{{ reporte.fechaGeneracion | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="sistemacineApp.reporte.descripcion">Descripcion</span></dt>
        <dd>
          <span>{{ reporte.descripcion }}</span>
        </dd>
        <dt><span jhiTranslate="sistemacineApp.reporte.vendedor">Vendedor</span></dt>
        <dd>
          <div *ngIf="reporte.vendedor">
            <a [routerLink]="['/persona', reporte.vendedor?.id, 'view']">{{ reporte.vendedor?.nombre }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/reporte', reporte.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
