<div>
  <h2 id="page-heading" data-cy="PromocionHeading">
    <span>Promocions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-promocion"
        [routerLink]="['/promocion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Promocion </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="promocions?.length === 0">
    <span>No promocions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="promocions && promocions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nombre"><span>Nombre</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="descripcion"><span>Descripcion</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="porcentajeDescuento"><span>Porcentaje Descuento</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fechaInicio"><span>Fecha Inicio</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="fechaFin"><span>Fecha Fin</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="activa"><span>Activa</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let promocion of promocions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/promocion', promocion.id, 'view']">{{ promocion.id }}</a>
          </td>
          <td>{{ promocion.nombre }}</td>
          <td>{{ promocion.descripcion }}</td>
          <td>{{ promocion.porcentajeDescuento }}</td>
          <td>{{ promocion.fechaInicio | formatMediumDate }}</td>
          <td>{{ promocion.fechaFin | formatMediumDate }}</td>
          <td>{{ promocion.activa }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/promocion', promocion.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/promocion', promocion.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(promocion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="promocions && promocions.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
