<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="tarifa">
      <h2 data-cy="tarifaDetailsHeading"><span jhiTranslate="sistemacineApp.tarifa.detail.title">Tarifa</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ tarifa.id }}</span>
        </dd>
        <dt><span jhiTranslate="sistemacineApp.tarifa.nombre">Nombre</span></dt>
        <dd>
          <span>{{ tarifa.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="sistemacineApp.tarifa.descripcion">Descripcion</span></dt>
        <dd>
          <span>{{ tarifa.descripcion }}</span>
        </dd>
        <dt><span jhiTranslate="sistemacineApp.tarifa.monto">Monto</span></dt>
        <dd>
          <span>{{ tarifa.monto }}</span>
        </dd>
        <dt><span jhiTranslate="sistemacineApp.tarifa.diaSemana">Dia Semana</span></dt>
        <dd>
          <span>{{ tarifa.diaSemana }}</span>
        </dd>
        <dt><span jhiTranslate="sistemacineApp.tarifa.tipoSala">Tipo Sala</span></dt>
        <dd>
          <span jhiTranslate="{{ 'sistemacineApp.TipoSala.' + tarifa.tipoSala }}">{{ tarifa.tipoSala }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/tarifa', tarifa.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
