<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="tarifa">
      <h2 data-cy="tarifaDetailsHeading"><span>Tarifa</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ tarifa.id }}</span>
        </dd>
        <dt><span>Nombre</span></dt>
        <dd>
          <span>{{ tarifa.nombre }}</span>
        </dd>
        <dt><span>Descripcion</span></dt>
        <dd>
          <span>{{ tarifa.descripcion }}</span>
        </dd>
        <dt><span>Monto</span></dt>
        <dd>
          <span>{{ tarifa.monto }}</span>
        </dd>
        <dt><span>Dia Semana</span></dt>
        <dd>
          <span>{{ tarifa.diaSemana }}</span>
        </dd>
        <dt><span>Tipo Sala</span></dt>
        <dd>
          <span>{{ tarifa.tipoSala }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/tarifa', tarifa.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
