<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="pelicula">
      <h2 data-cy="peliculaDetailsHeading"><span>Pelicula</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ pelicula.id }}</span>
        </dd>
        <dt><span>Titulo</span></dt>
        <dd>
          <span>{{ pelicula.titulo }}</span>
        </dd>
        <dt><span>Sinopsis</span></dt>
        <dd>
          <span>{{ pelicula.sinopsis }}</span>
        </dd>
        <dt><span>Duracion</span></dt>
        <dd>
          <span>{{ pelicula.duracion }}</span>
        </dd>
        <dt><span>Idioma</span></dt>
        <dd>
          <span>{{ pelicula.idioma }}</span>
        </dd>
        <dt><span>Clasificacion</span></dt>
        <dd>
          <span>{{ pelicula.clasificacion }}</span>
        </dd>
        <dt><span>Formato</span></dt>
        <dd>
          <span>{{ pelicula.formato }}</span>
        </dd>
        <dt><span>Estado</span></dt>
        <dd>
          <span>{{ pelicula.estado }}</span>
        </dd>
        <dt><span>Imagen Url</span></dt>
        <dd>
          <span>{{ pelicula.imagenUrl }}</span>
        </dd>
        <dt><span>Genero</span></dt>
        <dd>
          <div *ngIf="pelicula.genero">
            <a [routerLink]="['/genero', pelicula.genero?.id, 'view']">{{ pelicula.genero?.nombre }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/pelicula', pelicula.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
