<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="persona">
      <h2 data-cy="personaDetailsHeading"><span>Persona</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ persona.id }}</span>
        </dd>
        <dt><span>Nombre</span></dt>
        <dd>
          <span>{{ persona.nombre }}</span>
        </dd>
        <dt><span>Apellido</span></dt>
        <dd>
          <span>{{ persona.apellido }}</span>
        </dd>
        <dt><span>Telefono</span></dt>
        <dd>
          <span>{{ persona.telefono }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ persona.email }}</span>
        </dd>
        <dt><span>Tipo</span></dt>
        <dd>
          <span>{{ persona.tipo }}</span>
        </dd>
        <dt><span>Fecha Nacimiento</span></dt>
        <dd>
          <span>{{ persona.fechaNacimiento | formatMediumDate }}</span>
        </dd>
        <dt><span>Sexo</span></dt>
        <dd>
          <span>{{ persona.sexo }}</span>
        </dd>
        <dt><span>Carnet Identidad</span></dt>
        <dd>
          <span>{{ persona.carnetIdentidad }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/persona', persona.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
