<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-promocion-heading" data-cy="PromocionCreateUpdateHeading" jhiTranslate="sistemacineApp.promocion.home.createOrEditLabel">
        Create or edit a Promocion
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sistemacineApp.promocion.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nombre')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sistemacineApp.promocion.descripcion" for="field_descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sistemacineApp.promocion.porcentajeDescuento" for="field_porcentajeDescuento"
            >Porcentaje Descuento</label
          >
          <input
            type="number"
            class="form-control"
            name="porcentajeDescuento"
            id="field_porcentajeDescuento"
            data-cy="porcentajeDescuento"
            formControlName="porcentajeDescuento"
          />
          <div
            *ngIf="
              editForm.get('porcentajeDescuento')!.invalid &&
              (editForm.get('porcentajeDescuento')!.dirty || editForm.get('porcentajeDescuento')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('porcentajeDescuento')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('porcentajeDescuento')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sistemacineApp.promocion.fechaInicio" for="field_fechaInicio">Fecha Inicio</label>
          <div class="input-group">
            <input
              id="field_fechaInicio"
              data-cy="fechaInicio"
              type="text"
              class="form-control"
              name="fechaInicio"
              ngbDatepicker
              #fechaInicioDp="ngbDatepicker"
              formControlName="fechaInicio"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaInicioDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div *ngIf="editForm.get('fechaInicio')!.invalid && (editForm.get('fechaInicio')!.dirty || editForm.get('fechaInicio')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fechaInicio')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sistemacineApp.promocion.fechaFin" for="field_fechaFin">Fecha Fin</label>
          <div class="input-group">
            <input
              id="field_fechaFin"
              data-cy="fechaFin"
              type="text"
              class="form-control"
              name="fechaFin"
              ngbDatepicker
              #fechaFinDp="ngbDatepicker"
              formControlName="fechaFin"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaFinDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('fechaFin')!.invalid && (editForm.get('fechaFin')!.dirty || editForm.get('fechaFin')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('fechaFin')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="sistemacineApp.promocion.activa" for="field_activa">Activa</label>
          <input type="checkbox" class="form-check" name="activa" id="field_activa" data-cy="activa" formControlName="activa" />
          <div *ngIf="editForm.get('activa')!.invalid && (editForm.get('activa')!.dirty || editForm.get('activa')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('activa')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="sistemacineApp.promocion.peliculas" for="field_peliculas">Peliculas</label>
          <select class="form-control" id="field_peliculas" data-cy="peliculas" multiple name="peliculas" formControlName="peliculas">
            <option
              [ngValue]="getSelectedPelicula(peliculaOption, editForm.get('peliculas')!.value)"
              *ngFor="let peliculaOption of peliculasSharedCollection; trackBy: trackPeliculaById"
            >
              {{ peliculaOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
