<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="detalleVenta">
      <h2 data-cy="detalleVentaDetailsHeading"><span>Detalle Venta</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ detalleVenta.id }}</span>
        </dd>
        <dt><span>Asiento</span></dt>
        <dd>
          <span>{{ detalleVenta.asiento }}</span>
        </dd>
        <dt><span>Precio Unitario</span></dt>
        <dd>
          <span>{{ detalleVenta.precioUnitario }}</span>
        </dd>
        <dt><span>Funcion</span></dt>
        <dd>
          <div *ngIf="detalleVenta.funcion">
            <a [routerLink]="['/funcion', detalleVenta.funcion?.id, 'view']">{{ detalleVenta.funcion?.id }}</a>
          </div>
        </dd>
        <dt><span>Venta</span></dt>
        <dd>
          <div *ngIf="detalleVenta.venta">
            <a [routerLink]="['/venta', detalleVenta.venta?.id, 'view']">{{ detalleVenta.venta?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/detalle-venta', detalleVenta.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
