<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="sala">
      <h2 data-cy="salaDetailsHeading"><span jhiTranslate="sistemacineApp.sala.detail.title">Sala</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ sala.id }}</span>
        </dd>
        <dt><span jhiTranslate="sistemacineApp.sala.nombre">Nombre</span></dt>
        <dd>
          <span>{{ sala.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="sistemacineApp.sala.capacidad">Capacidad</span></dt>
        <dd>
          <span>{{ sala.capacidad }}</span>
        </dd>
        <dt><span jhiTranslate="sistemacineApp.sala.tipo">Tipo</span></dt>
        <dd>
          <span jhiTranslate="{{ 'sistemacineApp.TipoSala.' + sala.tipo }}">{{ sala.tipo }}</span>
        </dd>
        <dt><span jhiTranslate="sistemacineApp.sala.estado">Estado</span></dt>
        <dd>
          <span>{{ sala.estado }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/sala', sala.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
