<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-reporte-heading" data-cy="ReporteCreateUpdateHeading">Create or edit a Reporte</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_tipo">Tipo</label>
          <input type="text" class="form-control" name="tipo" id="field_tipo" data-cy="tipo" formControlName="tipo" />
          <div *ngIf="editForm.get('tipo')!.invalid && (editForm.get('tipo')!.dirty || editForm.get('tipo')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('tipo')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_fechaGeneracion">Fecha Generacion</label>
          <div class="input-group">
            <input
              id="field_fechaGeneracion"
              data-cy="fechaGeneracion"
              type="text"
              class="form-control"
              name="fechaGeneracion"
              ngbDatepicker
              #fechaGeneracionDp="ngbDatepicker"
              formControlName="fechaGeneracion"
            />
            <button type="button" class="btn btn-secondary" (click)="fechaGeneracionDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
          <div
            *ngIf="
              editForm.get('fechaGeneracion')!.invalid &&
              (editForm.get('fechaGeneracion')!.dirty || editForm.get('fechaGeneracion')!.touched)
            "
          >
            <small class="form-text text-danger" *ngIf="editForm.get('fechaGeneracion')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_descripcion">Descripcion</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_vendedor">Vendedor</label>
          <select class="form-control" id="field_vendedor" data-cy="vendedor" name="vendedor" formControlName="vendedor">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="personaOption.id === editForm.get('vendedor')!.value?.id ? editForm.get('vendedor')!.value : personaOption"
              *ngFor="let personaOption of personasSharedCollection; trackBy: trackPersonaById"
            >
              {{ personaOption.nombre }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
